<html>
    <head>
        <title>Nicholas Brink Portfolio</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("assets/apple-touch-icon.png") }}">
        <link rel="icon" type="image/png" href="{{ asset("assets/favicon-32x32.png") }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset("assets/favicon-16x16.png") }}" sizes="16x16">
        <link rel="manifest" href="{{ asset("assets/manifest.json") }}">
        <link rel="mask-icon" href="{{ asset("assets/safari-pinned-tab.svg") }}">
        <meta name="theme-color" content="#c90000">

        {% stylesheets
            'assets/css/*.css'
            filter='uglifycss'
            filter='cssrewrite'
            output='combined/css/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body class="loading">
        <div id="wrapper">
            <div id="bg"></div>
            <div id="overlay"></div>
            <div id="main">
                {# Header #}
                <header id="header">
                    <h1>Nicholas Brink</h1>
                    <p>Web Developer &bull; PHP &bull; Symfony</p>
                    <nav>
                        <ul>
                            <li><a href="https://twitter.com/nbrink91" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/nicholas.brink.14" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://www.linkedin.com/in/nicholasbrink" class="icon fa-linkedin-square"><span class="label">LinkedIn</span></a></li>
                            <li><a href="https://github.com/nbrink91" class="icon fa-github"><span class="label">Github</span></a></li>
                            <li><a href="http://stackoverflow.com/users/6475681/nicholas-brink?tab=profile" class="icon fa-stack-overflow"><span class="label">Stack Overflow</span></a></li>
                            <li><a href="mailto:nbrink7@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                            <li><a href=" {{ asset("downloads/Public_Resume_Nicholas_Brink.pdf") }}" download="Brink_Nicholas_Resume.pdf" class="icon fa-download"><span class="label">Resume</span></a></li>
                        </ul>
                    </nav>
                </header>

                {# Footer #}
                <footer id="footer">
                    <span class="copyright">&copy; 2016 Nicholas Brink</span>
                </footer>
            </div>
        </div>

        {% javascripts
            'assets/js/*.js'
            filter="?uglifyjs2"
            output="combined/js/main.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            window.onload = function() { document.body.className = ''; }
            window.ontouchmove = function() { return false; }
            window.onorientationchange = function() { document.body.scrollTop = 0; }
        </script>
    </body>
</html>